<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon" 
      type="image/png" 
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <code>example: POST [project_url]/api/shorturl/new - https://www.google.com</code>
        <form action="api/shorturl/new" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
        <h3>Example Usage:</h3>
        <p>
          <a href="/api/shorturl/2">[base url]/api/shorturl/2</a>
        </p>

        <h3>Will Redirect to:</h3>
        <p>
          https://codepen.io/lace1010/full/dyXXYJE
        </p>
        <br/>
        <br/>
      </section>
    </main>
    <footer>
      Designed and Coded by: <a href="https://www.linkedin.com/in/hunter-lacefield-871995115/">Hunter Lacefield</a>
    </footer>
  </body>
</html>
